<div class="container">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ScanBuddy</a>
        </div>
        <ul class="nav navbar-nav navbar-right ul1">
          <li class="li1"><a href="/">Home</a></li>
          <li class="li1"><a href="/about">About</a></li>
        </ul>
    </div>
</nav>

<div class="row">

    <div class="col-md-8">
        <iframe class="bot" src='https://webchat.botframework.com/embed/scanbuddycustomerservice?s=R2koMBkWyB4.cwA.Ag4.1jutqlyWnZh5qtv3sa-i8KARj03Vckqd19BmyGtIRxI'></iframe>
    </div>

    <div class="col-md-4">

        <div class="box1">
            <p class="details" id="objno">Dell</p>
            <p class="details" id="objname">XPS L502X</p>
            <p class="details" id="address">Aman</p>
            <p class="details" id="department">2017-10-29 12:26:05</p>         
        </div>

        <div class="box3">
            <p class="atw"><u>Around the web</u></p>
            <span class="logo">
            <a href="#" target="_blank"><img src="http://navigatebydesign.com/wp-content/uploads/2015/06/grey_new_seo2-04-512.png" id="web"></a></span>
            <span class="logo">
            <a href="https://www.facebook.com" target="_blank">
            <img src="https://www.shareicon.net/download/2015/09/23/106006_logo_512x512.png" id="fb"></a></span>
            <span class="logo" >
            <a href="https://www.instagram.com" target="_blank">    
            <img src="http://pluspng.com/img-png/instagram-png-instagram-logo-512.png" id="insta"></a></span>
            <span class="logo">
            <a href="https://www.twitter.com" target="_blank"><img src="https://s3.amazonaws.com/rsportz-production/file_assets/attachments/000/006/534/original/Twitter-Logo-Wallpaper-8.png" id="twitter"></a>
            </span>
        </div>

        <div class="box2" >
            <p class="history"> <u>History</u></p>
            <div id="history">
                <p>Screen replaced on 2017-11-29 at 01:53:08</p><br/>
                <p>RAM changed on 2017-12-16 at 09:35:34</p><br/>
            </div>
        </div>

    </div>

</div>


<div>
    <div class="base" id="base">
    <div class="container">
        <p class="footertext">ABOUT THIS PAGE<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Around the web</span><br /></p>
        <span class="atw2"> <p class="icons1">Made with Love<br /> by<a href="/about"> JARVIS</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="logo2">
        <a href="https://www.facebook.com" target="_blank">
        <img src="https://www.shareicon.net/download/2015/09/23/106006_logo_512x512.png" id="fb"></a></span>
        <span class="logo2" >
        <a href="https://www.instagram.com" target="_blank">    
        <img src="http://pluspng.com/img-png/instagram-png-instagram-logo-512.png" id="insta"></a></span>
        <span class="logo2">
        <a href="https://www.twitter.com" target="_blank"><img src="https://s3.amazonaws.com/rsportz-production/file_assets/attachments/000/006/534/original/Twitter-Logo-Wallpaper-8.png" id="twitter"></a>


        </span></span>
    </div>
    </div>
</div>

</div>


<link rel="stylesheet" href="/stylesheets/customersupport.css">


<script type="text/javascript">
    objectid = "{{options.objectid}}";
</script>

<script type="text/javascript" src="/javascripts/customersupport.js"></script>