<div>
<nav class="navbar navbar-inverse navbar-fixed-top ">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="/">ScanBuddy</a>
</div>
<ul class="nav navbar-nav navbar-right ul1">
<li class="li1"><a href="/">Home</a></li>
<li class="li1"><a href="/about">About</a></li>
</ul>
</div>
</nav>
<div class="home" id="home">
<div class="container">

<div class="animation">
</div>
<p class="hometext">Welcome to </p>
<p class="hometext2">Scan Buddy</p>



</div>
</div>
</div>

<link rel="stylesheet" href="/stylesheets/index.css">